<web-app>
	<servlet>
		<servlet-name>Primitive</servlet-name>
		<servlet-class>org.rainbow.learning.htcw.servlets.PrimitiveServlet
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Modern</servlet-name>
		<servlet-class>org.rainbow.learning.htcw.servlets.ModernServlet
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Primitive</servlet-name>
		<url-pattern>/primitive</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Modern</servlet-name>
		<url-pattern>/modern</url-pattern>
	</servlet-mapping>
</web-app>